<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIPushBehavior tuto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4E974781BD41FFF00BE4C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E9748C1BD4200000BE4C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E974971BD4200000BE4C31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
